<app-header></app-header>


<!--==========================================================
INVITATION TO UNITY BANNER
==========================================================-->

<section class="Neighborhood-Bb-Events-Banner">

    <div
        class="Neighborhood-Bb-Events-Banner-Image"
        [style.background-image]="'url(' + bannerImage + ')'">

    </div>

</section>


<!--==========================================================
UNITY 9 CARD GRID
==========================================================-->

<section class="unity-grid-x99">

    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">


            @for(card of unityGridCardsX99; track card.id) {


            <!--================================================
            COMMON CARD COLUMN
            =================================================-->

            <div class="col">


                <!--================================================
                COMMON CARD
                =================================================-->

                <div
                    class="unity-common-card-x99"
                    (click)="unityGridCardClickX99(card)">


                    <!--================================================
                    CARD HEADER
                    =================================================-->

                    <div class="unity-common-card-header-x99">


                        <div class="unity-common-card-icon-x99">

                            <i
                                [class]="card.icon"
                                [style.color]="card.iconColor">
                            </i>

                        </div>


                        <div class="unity-common-card-header-content-x99">


                            <h3 class="unity-common-card-title-x99">

                                {{ card.title }}

                            </h3>


                            @if(card.subtitle) {

                                <div class="unity-common-card-subtitle-x99">

                                    {{ card.subtitle }}

                                </div>

                            }


                            @if(card.scripture) {

                                <div class="unity-common-card-scripture-x99">

                                    {{ card.scripture }}

                                </div>

                            }


                            @if(card.description) {

                                <p class="unity-common-card-description-x99">

                                    {{ card.description }}

                                </p>

                            }


                        </div>

                    </div>


                    <!--================================================
                    CARD BODY
                    =================================================-->

                    <div class="unity-common-card-body-x99">


                        <!--================================================
                        CARD 1
                        BOOK OF MORMON BELIEVERS
                        =================================================-->

                        @if(card.type === 'believers') {

                            <div class="unity-common-card-points-x99">


                                @for(member of card.members ?? []; track member.id) {

                                    <div class="unity-common-card-point-x99">

                                       <i
          class="bi bi-check-circle-fill unity-fellowship-check-x99"
          [style.color]="card.iconColor">
        </i>

                                        <span class="unity-common-card-point-text-x99">

                                            {{ member.text }}

                                        </span>

                                    </div>

                                }


                            </div>


                            @if(card.verse) {

                                <div class="unity-common-card-quote-x99">

                                    <i class="bi bi-quote"></i>

                                    <p>

                                        {{ card.verse }}

                                    </p>

                                </div>

                            }


                            <div class="unity-common-card-single-image-x99">

                                <img
                                    [src]="card.image"
                                    [alt]="card.imageAlt"
                                    class="unity-common-card-image-x99">

                            </div>


                        }


                        <!--================================================
                        CARD 2
                        TWO PEOPLES ONE COVENANT
                        =================================================-->

                        @if(card.type === 'covenant') {


                            <div class="unity-covenant-boxes-x99">


                                <!-- LEFT BOX -->

                                <div class="unity-covenant-box-x99">


                                    <h5>

                                        {{ card.leftBox?.title }}

                                    </h5>


                                    <p>

                                        {{ card.leftBox?.subtitle }}

                                    </p>


                                    <strong>

                                        {{ card.leftBox?.location }}

                                    </strong>


                                    <i
                                        [class]="card.leftBox?.icon">
                                    </i>


                                </div>


                                <!-- RIGHT BOX -->

                                <div class="unity-covenant-box-x99">


                                    <h5>

                                        {{ card.rightBox?.title }}

                                    </h5>


                                    <p>

                                        {{ card.rightBox?.subtitle }}

                                    </p>


                                    <strong>

                                        {{ card.rightBox?.location }}

                                    </strong>


                                    <i
                                        [class]="card.rightBox?.icon">
                                    </i>


                                </div>


                            </div>


                            <div class="unity-common-card-points-x99">


                                @for(point of card.covenantPoints ?? []; track point.id) {

                                    <div class="unity-common-card-point-x99">

                                        <i
                                            class="unity-common-card-check-x99"
                                            [class]="point.icon"
                                            [style.color]="card.iconColor">
                                        </i>

                                        <span class="unity-common-card-point-text-x99">

                                            {{ point.text }}

                                        </span>

                                    </div>

                                }


                            </div>


                            <div class="unity-common-card-scripture-x99">

                                {{ card.scripture }}

                            </div>


                            <div class="unity-common-card-single-image-x99">

                                <img
                                    [src]="card.image"
                                    [alt]="card.imageAlt"
                                    class="unity-common-card-image-x99">

                            </div>


                        }


                        <!--================================================
                        CARD 3
                        A FULFILLMENT IN OUR DAY
                        =================================================-->

                        @if(card.type === 'fulfillment') {


                            <div class="unity-highlight-box-x99">


                                <i
                                    [class]="card.topBox?.icon">
                                </i>


                                <div>

                                    <h5>

                                        {{ card.topBox?.title }}

                                    </h5>


                                    <p>

                                        {{ card.topBox?.text }}

                                    </p>

                                </div>


                            </div>


                            <div class="unity-highlight-box-x99">


                                <i
                                    [class]="card.middleBox?.icon">
                                </i>


                                <div>

                                    <h5>

                                        {{ card.middleBox?.title }}

                                    </h5>


                                    <p>

                                        {{ card.middleBox?.text }}

                                    </p>

                                </div>


                            </div>

                             @for (point of card.points ?? []; track $index) {

      <div class="unity-fellowship-point-x99 mb-3">

        <i
          class="bi bi-check-circle-fill unity-fellowship-check-x99"
          [style.color]="card.iconColor">
        </i>

        <span class="unity-fellowship-point-text-x99">
          {{ point }}
        </span>

      </div>

    }



                            <div class="unity-testimony-x99">


                                <i
                                    [class]="card.testimony?.icon">
                                </i>


                                <div>

                                    <h5>

                                        {{ card.testimony?.title }}

                                    </h5>


                                    <p>

                                        {{ card.testimony?.description }}

                                    </p>

                                </div>


                            </div>


                            <div class="unity-common-card-image-grid-x99">


                                @for(image of card.images ?? []; track $index) {

                                    <img
                                        [src]="image"
                                        class="unity-common-card-image-x99"
                                        alt="A Fulfillment in Our Day">

                                }


                            </div>


                        }


                        <!--================================================
                        CARD 4
                        COMMON VISION
                        =================================================-->

                        @if(card.type === 'vision') {


                            <div class="unity-vision-layout-x99">


                                <div class="unity-vision-points-x99">


                                    @for(point of card.points ?? []; track $index) {

                                        <div class="unity-number-point-x99">


                                            <span class="unity-number-x99">

                                                {{ $index + 1 }}

                                            </span>


                                            <span class="unity-number-text-x99">

                                                {{ point }}

                                            </span>


                                        </div>

                                    }


                                </div>


                                <div class="unity-vision-images-x99">


                                    @for(image of card.images ?? []; track $index) {

                                        <img
                                            [src]="image"
                                            alt="Common Vision">

                                    }


                                </div>


                            </div>


                            @if(card.quote) {

                                <div class="unity-common-card-quote-x99">

                                    <i class="bi bi-quote"></i>

                                    <p>

                                        {{ card.quote }}

                                    </p>

                                </div>

                            }


                        }


                        <!--================================================
                        CARD 5
                        TWO CHURCHES
                        =================================================-->

                        @if(card.type === 'churches') {
                                @for (point of card.points ?? []; track $index) {

      <div class="unity-fellowship-point-x99">

        <i
          class="bi bi-check-circle-fill unity-fellowship-check-x99"
          [style.color]="card.iconColor">
        </i>

        <span class="unity-fellowship-point-text-x99">
          {{ point }}
        </span>

      </div>

    }


                            <div class="unity-churches-layout-x99">


                                <div class="unity-church-image-wrapper-x99">

                                    <img
                                        [src]="card.image"
                                        [alt]="card.imageAlt"
                                        class="unity-church-image-x99">

                                </div>


                                <div class="unity-church-quote-x99">

                                    <i class="bi bi-quote"></i>

                                    <p>

                                        {{ card.quote }}

                                    </p>

                                </div>


                            </div>


                        }


                        <!--================================================
                        CARD 6
                        COVENANT UNITY
                        =================================================-->

                        @if(card.type === 'unity') {


                            <div class="unity-common-card-points-x99">


                                @for(item of card.checklist ?? []; track item.id) {

                                    <div class="unity-common-card-point-x99">

                                        <i
                                            class="unity-common-card-check-x99"
                                            [class]="item.icon"
                                            [style.color]="card.iconColor">
                                        </i>

                                        <span class="unity-common-card-point-text-x99">

                                            {{ item.text }}

                                        </span>

                                    </div>

                                }


                            </div>


                            <div class="unity-common-card-single-image-x99">

                                <img
                                    [src]="card.image"
                                    [alt]="card.imageAlt"
                                    class="unity-common-card-image-x99">

                            </div>


                        }


                        <!--================================================
                        CARD 7
                        PROPHETIC PROMISES
                        =================================================-->

                        @if(card.type === 'prophecy') {


                            <div class="unity-common-card-points-x99">


                                @for(item of card.promises ?? []; track item.id) {

                                    <div class="unity-common-card-point-x99">
 <i
          class="bi bi-check-circle-fill unity-fellowship-check-x99"
          [style.color]="card.iconColor">
        </i>

                                        <span class="unity-common-card-point-text-x99">

                                            {{ item.text }}

                                        </span>

                                    </div>

                                }


                            </div>


                            <div class="unity-common-card-single-image-x99">

                                <img
                                    [src]="card.image"
                                    [alt]="card.imageAlt"
                                    class="unity-common-card-image-x99">

                            </div>


                        }


                        <!--================================================
                        CARD 8
                        PRESENT FELLOWSHIP
                        =================================================-->
@if (card.type === 'fellowship') {

  <div class="unity-fellowship-description-x99">
    {{ card.description }}
  </div>

  <div class="unity-fellowship-points-x99">

    @for (point of card.points ?? []; track $index) {

      <div class="unity-fellowship-point-x99">

        <i
          class="bi bi-check-circle-fill unity-fellowship-check-x99"
          [style.color]="card.iconColor">
        </i>

        <span class="unity-fellowship-point-text-x99">
          {{ point }}
        </span>

      </div>

    }

  </div>

  <div class="unity-fellowship-images-x99">

    @for (image of card.images ?? []; track $index) {

      <div class="unity-fellowship-image-item-x99">

        <img
          [src]="image"
          alt="Present Fellowship"
          class="unity-fellowship-image-x99">

      </div>

    }

  </div>

}
                        <!--================================================
                        CARD 9
                        THE WORK BEFORE US
                        =================================================-->

                        @if(card.type === 'work') {


                            <div class="unity-work-layout-x99">


                                <div class="unity-work-points-x99">


                                    @for(point of card.points ?? []; track $index) {

                                        <div class="unity-work-point-x99">


                                            <span class="unity-work-number-x99">

                                                {{ $index + 1 }}

                                            </span>


                                            <span class="unity-work-text-x99">

                                                {{ point }}

                                            </span>


                                        </div>

                                    }


                                </div>


                             


                            </div>

   <div class="unity-work-image-x99">


                                    @for(image of card.images ?? []; track $index) {

                                        <img
                                            [src]="image"
                                            alt="The Work Before Us">

                                    }


                                </div>
                        }


                    </div>


                    <!--================================================
                    QUOTE
                    =================================================-->

                    @if(
                        card.quote &&
                        card.type !== 'believers' &&
                        card.type !== 'churches' &&
                        card.type !== 'vision'
                    ) {

                        <div class="unity-common-card-bottom-quote-x99">

                            <i class="bi bi-quote"></i>

                            <p>

                                {{ card.quote }}

                            </p>

                        </div>

                    }


                    <!--================================================
                    BUTTON
                    =================================================-->

                    @if(card.buttonText) {

                        <div class="unity-common-card-footer-x99">

                            <button
                                type="button"
                                class="unity-common-card-button-x99"
                                [style.background]="card.buttonColor"
                                (click)="$event.stopPropagation(); unityGridButtonClickX99(card)">

                                {{ card.buttonText }}

                            </button>

                        </div>

                    }


                </div>


            </div>


            }


        </div>

    </div>

</section>

<section
id="qw9821-mission-strip-xz7744"
class="qw9821-mission-strip-xz7744">

    <div class="container-fluid">

        <div
        class="qw9821-strip-row-xz7744">

            @for(card of missionCards; track card.id){

            <!--==============================================
            BLUE CARD
            ==============================================-->

            @if(card.theme == 'theme-blue'){

            <div
            class="qw9821-item-xz7744 qw9821-item-blue-xz7744">

                <div
                class="qw9821-blue-card-xz7744">

                    <div
                    class="qw9821-blue-icon-xz7744">

                        <i
                        [class]="card.icon">
                        </i>

                    </div>

                    <h5>

                        {{card.title}}

                    </h5>

                    <p>

                        {{card.subtitle}}

                    </p>

                    @if(card.verse){

                    <small>

                        {{card.verse}}

                    </small>

                    }

                </div>

            </div>

            }

            <!--==============================================
            IMAGE CARD
            ==============================================-->

            @if(card.theme == 'theme-image'){

            <div
            class="qw9821-item-xz7744 qw9821-item-image-xz7744">

                <img
                [src]="card.image"
                [alt]="card.title"
                class="qw9821-image-xz7744">

            </div>

            }

            <!--==============================================
            WHITE CARD
            ==============================================-->

            @if(card.theme == 'theme-white'){

            <div
            class="qw9821-item-xz7744 qw9821-item-white-xz7744">

                <div
                class="qw9821-white-card-xz7744">

                    <div
                    class="qw9821-white-icon-xz7744">

                        <i
                        [class]="card.icon">
                        </i>

                    </div>

                    <h5>

                        {{card.title}}

                    </h5>

                    <p>

                        {{card.subtitle}}

                    </p>

                </div>

            </div>

            }

            }

        </div>

    </div>

</section>


<!--==========================================================
UNITY SCRIPTURE FOOTER
==========================================================-->

<section class="Unity-Scripture-Footer-Section-X98">


    <div class="Unity-Scripture-Footer-Container-X98">


        <div class="Unity-Scripture-Footer-Top-X98">


            <div class="Unity-Scripture-Footer-Logo-X98">

                <img
                    [src]="unityFooterX98.logo"
                    alt="Unity Footer Logo">

            </div>


            <div class="Unity-Scripture-Footer-Verse-X98">

                "{{ unityFooterX98.verse }}"

            </div>


            <div class="Unity-Scripture-Footer-Reference-X98">

                — {{ unityFooterX98.reference }}

            </div>


        </div>


        <div class="Unity-Scripture-Footer-Bottom-X98">


            @for(item of unityFooterX98.scriptures; track item.id) {

                <span class="Unity-Scripture-Footer-Link-X98">

                    {{ item.title }}

                </span>

            }


        </div>


    </div>


</section>